# Ignore vim plugin files
vim/.vim/bundle
vim/.vim/plugged
vim/.vim/autoload
vim/.vim/.netrwhist
vim/.vim/spell

nvim/.config/nvim/autoload
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/spell

# Ignore symlinks and binaries
bin/bin/alacritty
bin/bin/firefox
bin/bin/idea
bin/bin/studio

